


<div class="col-md-12">
    <div class="featured-carousel owl-carousel">
        <div class="item">
            <div class="work">
                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(images/work-1.jpg);">
                    <div class="text w-100">
                        <span class="cat">Web Design</span>
                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="work">
                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(images/work-2.jpg);">
                    <div class="text w-100">
                        <span class="cat">Web Design</span>
                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="work">
                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(images/work-3.jpg);">
                    <div class="text w-100">
                        <span class="cat">Web Design</span>
                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="work">
                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(images/work-4.jpg);">
                    <div class="text w-100">
                        <span class="cat">Web Design</span>
                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="work">
                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(images/work-5.jpg);">
                    <div class="text w-100">
                        <span class="cat">Web Design</span>
                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>


